<div class="header-outer-wrapper">
  <div class="header-container-wrapper container-wrapper">
    <div class="header-wrapper">
      <div class="clear"></div>

      <!-- Get Logo -->
      <div class="logo-wrapper">
        <a href="http://www.zhpp.org/"><img src="/zhpp_files/Zions-Hill-Preschool-Program-Wilton-CT-Logo.png" alt=""></a>					</div>

                                   <!-- Get Announcement -->
                                   <div id="announcement">
      <div class="custom-sidebar gdl-divider widget_text" div="" id="text-18">			<div class="textwidget"></div>
</div>					</div>


      <!-- Get Social Icons -->
      <div class="outer-social-wrapper">
        <div class="social-wrapper">
          <div class="social-icon-wrapper">
            <div class="social-icon"><a target="_blank" href="https://www.facebook.com/ZionsHillPreschoolCT/"><img src="/zhpp_files/facebook.png" alt="facebook"></a></div><div class="social-icon"><a target="_blank" href="http://zhpp.org.s168287.gridserver.com/feed/"><img src="/zhpp_files/rss.png" alt="rss"></a></div>
            <div class="social-icon"><a target="_blank" href="mailto:info@zhpp.org"><img src="/zhpp_files/email.png" alt="email"></a></div>
          </div>
          <div id="location" class="vcard">
              <p class="telephone">Tel: <span class="tel">(203) 762-9620</span></p>
              <p class="adr"><span class="fn org">Zion's Hill Preschool Program</span><a href="https://maps.google.com/maps?q=470+Danbury+Road+Wilton,+CT+06897&amp;daddr=470+Danbury+Rd,+Wilton,+CT+06897&amp;oe=utf-8&amp;client=firefox-a&amp;hnear=0x89e802f971eff455:0xeb5fc08650a162d4,470+Danbury+Rd,+Wilton,+CT+06897&amp;gl=us&amp;t=m&amp;z=16" target="_blank" title="get directions"><span class="street-address">470 Danbury Road</span><br><span class="locality">Wilton</span>, <abbr class="region" title="Connecticut">CT</abbr> <span class="postal-code">06897</span></a></p>
          </div>
        </div>
      </div>

      <div class="clear"></div>
    </div> <!-- header-wrapper -->
  </div> <!-- header-container -->
</div> <!-- header-outer-wrapper -->
