<!-- Navigation and Search Form -->
<div class="main-navigation-wrapper">
  <div class="responsive-container-wrapper container-wrapper"><div class="responsive-menu-wrapper"><select id="menu-main" class="menu dropdown-menu"><option value="" class="blank" selected="selected">– Main Menu –</option><option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-997 menu-item-depth-0" value="http://www.zhpp.org/about/">About</option>	<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1115 menu-item-depth-1" value="http://www.zhpp.org/about/welcome/">- Welcome</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1112 menu-item-depth-1" value="http://www.zhpp.org/about/philosophy/">- Philosophy</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114 menu-item-depth-1" value="http://www.zhpp.org/about/testimonials/">- Testimonials</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1111 menu-item-depth-1" value="http://www.zhpp.org/about/meet-our-staff/">- Meet Our Staff</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1113 menu-item-depth-1" value="http://www.zhpp.org/about/policies/">- Policies</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3650 menu-item-depth-1" value="http://www.zhpp.org/about/open-house/">- Visit ZHPP</option>

<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-996 menu-item-depth-0" value="http://www.zhpp.org/programs/">Programs</option>	<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1116 menu-item-depth-1" value="http://www.zhpp.org/programs/curriculum/">- Curriculum</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1121 menu-item-depth-1" value="http://www.zhpp.org/programs/twos/">- Two’s</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1120 menu-item-depth-1" value="http://www.zhpp.org/programs/threes/">- Three’s</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1118 menu-item-depth-1" value="http://www.zhpp.org/programs/fours/">- Four’s</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1117 menu-item-depth-1" value="http://www.zhpp.org/programs/fives/">- Five’s</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1108 menu-item-depth-1" value="http://www.zhpp.org/programs/breakfast-club/">- Early Bird</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1109 menu-item-depth-1" value="http://www.zhpp.org/programs/afternoon-adventures/">- Afternoon Adventures and Extensions</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1110 menu-item-depth-1" value="http://www.zhpp.org/programs/special-events/">- Special Events</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107 menu-item-depth-1" value="http://www.zhpp.org/programs/summer-program/">- Summer Camp</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1119 menu-item-depth-1" value="http://www.zhpp.org/programs/special-programs/">- Special Programs</option>

<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096 menu-item-depth-0" value="http://www.zhpp.org/news-blog/">News</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994 menu-item-depth-0" value="http://www.zhpp.org/registration/">Registration</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-995 menu-item-depth-0" value="http://www.zhpp.org/parents/">Parents</option>	<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 menu-item-depth-1" value="http://www.zhpp.org/parents/calendar/">- Calendar</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1100 menu-item-depth-1" value="http://www.zhpp.org/parents/zhpp-board/">- ZHPP Board</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1099 menu-item-depth-1" value="http://www.zhpp.org/parents/fundraising/">- Fundraising</option>
<option class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1866 menu-item-depth-1" value="http://www.itownstore.com/index.php?main_page=store_view&amp;cPath=5_385_771_772_1662_1663&amp;cid=1663">- Spirit Wear</option>
<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1098 menu-item-depth-1" value="http://www.zhpp.org/parents/contributors/">- Contributors</option>

<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-993 menu-item-depth-0" value="http://www.zhpp.org/contact/">Contact</option>	<option class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097 menu-item-depth-1" value="http://www.zhpp.org/contact/directions/">- Directions</option>

</select></div></div>			<div class="navigation-wrapper">
    <div class="navigation-container-wrapper container-wrapper">
      <!-- Get Navigation -->
      <div id="main-superfish-wrapper" class="menu-wrapper"><ul id="menu-main-1" class="sf-menu sf-js-enabled sf-shadow"><li id="menu-item-997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-997"><a href="http://www.zhpp.org/about/" class="sf-with-ul">About<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="float: none; width: 14.5em; display: none; visibility: hidden;">
<li id="menu-item-1115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1115" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/welcome/" style="float: none; width: auto;">Welcome</a></li>
<li id="menu-item-1112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1112" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/philosophy/" style="float: none; width: auto;">Philosophy</a></li>
<li id="menu-item-1114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/testimonials/" style="float: none; width: auto;">Testimonials</a></li>
<li id="menu-item-1111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1111" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/meet-our-staff/" style="float: none; width: auto;">Meet Our Staff</a></li>
<li id="menu-item-1113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1113" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/policies/" style="float: none; width: auto;">Policies</a></li>
<li id="menu-item-3650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3650" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/about/open-house/" style="float: none; width: auto;">Visit ZHPP</a></li>
</ul>
</li>
<li id="menu-item-996" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-996"><a href="http://www.zhpp.org/programs/" class="sf-with-ul">Programs<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="float: none; width: 20.1333em; display: none; visibility: hidden;">
<li id="menu-item-1116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1116" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/curriculum/" style="float: none; width: auto;">Curriculum</a></li>
<li id="menu-item-1121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1121" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/twos/" style="float: none; width: auto;">Two’s</a></li>
<li id="menu-item-1120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1120" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/threes/" style="float: none; width: auto;">Three’s</a></li>
<li id="menu-item-1118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1118" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/fours/" style="float: none; width: auto;">Four’s</a></li>
<li id="menu-item-1117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1117" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/fives/" style="float: none; width: auto;">Five’s</a></li>
<li id="menu-item-1108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1108" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/breakfast-club/" style="float: none; width: auto;">Early Bird</a></li>
<li id="menu-item-1109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1109" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/afternoon-adventures/" style="float: none; width: auto;">Afternoon Adventures and Extensions</a></li>
<li id="menu-item-1110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1110" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/special-events/" style="float: none; width: auto;">Special Events</a></li>
<li id="menu-item-1107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/summer-program/" style="float: none; width: auto;">Summer Camp</a></li>
<li id="menu-item-1119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1119" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/programs/special-programs/" style="float: none; width: auto;">Special Programs</a></li>
</ul>
</li>
<li id="menu-item-1096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a href="http://www.zhpp.org/news-blog/">News</a></li>
<li id="menu-item-994" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994"><a href="http://www.zhpp.org/registration/">Registration</a></li>
<li id="menu-item-995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-995"><a href="http://www.zhpp.org/parents/" class="sf-with-ul">Parents<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="float: none; width: 14.5em; display: none; visibility: hidden;">
<li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/parents/calendar/" style="float: none; width: auto;">Calendar</a></li>
<li id="menu-item-1100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1100" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/parents/zhpp-board/" style="float: none; width: auto;">ZHPP Board</a></li>
<li id="menu-item-1099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1099" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/parents/fundraising/" style="float: none; width: auto;">Fundraising</a></li>
<li id="menu-item-1866" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1866" style="white-space: normal; float: left; width: 100%;"><a title="Order Zion’s Hill Spirit Wear" target="_blank" href="http://www.itownstore.com/index.php?main_page=store_view&amp;cPath=5_385_771_772_1662_1663&amp;cid=1663" style="float: none; width: auto;">Spirit Wear</a></li>
<li id="menu-item-1098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1098" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/parents/contributors/" style="float: none; width: auto;">Contributors</a></li>
</ul>
</li>
<li id="menu-item-993" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-993"><a href="http://www.zhpp.org/contact/" class="sf-with-ul">Contact<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="float: none; width: 14.5em; display: none; visibility: hidden;">
<li id="menu-item-1097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097" style="white-space: normal; float: left; width: 100%;"><a href="http://www.zhpp.org/contact/directions/" style="float: none; width: auto;">Directions</a></li>
</ul>
</li>
</ul></div>
      <!-- Get Search form -->
                <div class="search-wrapper"><form method="get" id="searchform" action="http://www.zhpp.org/">
<div id="search-text" style="width: 1px;">
<input type="text" name="s" id="s" autocomplete="off">
</div>
<input type="submit" id="searchsubmit" value="">
<br class="clear">
</form>
</div>

      <div class="clear"></div>
    </div> <!-- navigation-container-wrapper -->
  </div> <!-- navigation-wrapper -->
</div>
