<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick" /><br />
<input type="hidden" name="hosted_button_id" value="2DSTM227YU9T6" /></p>
<table>
<tbody>
<tr>
<td><input type="hidden" name="on0" value="Tickets" />Tickets</td>
</tr>
<tr>
<td>
<select name="os0">
<option value="1 Ticket">1 Ticket $75.00 USD</option>
<option value="2 Tickets">2 Tickets $150.00 USD</option>
<option value="1 Ticket + Teacher Donation">1 Ticket + Teacher Donation $150.00 USD</option>
<option value="2 Tickets + Teacher Donation">2 Tickets + Teacher Donation $225.00 USD</option>
<option value="Teacher Donation - 1">Teacher Donation &#8211; 1 $75.00 USD</option>
<option value="Teacher Donation - 2">Teacher Donation &#8211; 2 $150.00 USD</option>
</select>
</td>
</tr>
<tr>
<td><input type="hidden" name="on1" value="First/Last Names of Attendees" />First/Last Names of Attendees</td>
</tr>
<tr>
<td><input type="text" maxlength="200" name="os1" /></td>
</tr>
</tbody>
</table>
<p><input type="hidden" name="currency_code" value="USD" /><br />
<input type="image" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" /><br />
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0" /></p>
</form>
